server/__pycache__
server/env/
server/results/
server/plot/
server/tmp/
server/logs.log
server/.DS_Store
server/src/diffvg
server/src/env
server/src/util/__pycache__/

reactcanvas/node_modules

__pycache__/
