pymongo[srv]
git+https://github.com/openai/CLIP.git
svgwrite
svgpathtools
cssutils
numba
torch-tools
visdom
svgelements
pymongo
fastapi
websockets
setuptools
uvicorn
ftfy
regex
tqdm
aiofiles==0.6.0
black