git+https://github.com/openai/CLIP.git
fastapi
uvicorn
websockets
numpy
ftfy
regex
tqdm
torch==1.9.0
torchvision==0.10.0
torchaudio==0.9.0
scikit-image
matplotlib
Pillow
svgpathtools
setuptools
aiofiles==0.6.0
diffvg==0.0.1
