@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap");
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #7b66ff !important;
}

button {
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
}

html,
body {
    display: flex;
    background: #fbfbfb;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#left-background {
    width: fit-content;
    display: flex;
    background: #ffffff;
    box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.04);
}

#right-background {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
}

#penmode-inner-circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    /* background: #dfa2df; */
}

#penmode-outer-circle {
    padding: 0.4em;
    border-radius: 50%;
    background-color: #ffffff;
    /* box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.12); */
}

#contain-pen-dot {
    position: absolute;
    z-index: 8;
}

canvas {
    display: block;
    background-color: #fcfcfc;
}

canvas[resize] {
    height: 100vh;
    width: 100vh;
    /* background-color: gold; */
}

#multiple-canvas {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-left: 1vw;
}

.mini-canvas {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.mini-canvas div canvas {
    outline: 1px solid rgb(197, 197, 197);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sketch-view {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

#sliding-overlay {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    background-color: #59cdff;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 0%; */
    bottom: 100%;
}

#hero-content {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(67, 67, 67, 0.19), 0 3px 3px rgba(101, 101, 101, 0.23);
}

#hero-content button {
    width: 70px;
}

#modal {
    display: none;
    position: absolute;
    z-index: 11;
    background-color: #00000072;
    width: 100%;
    height: 100%;
}

#simple-modal {
    width: 400px;
    display: flex;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 40%;
    border-radius: 5px;
    flex-direction: column;
    padding: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 5px 10px rgba(129, 129, 129, 0.19), 0 3px 3px rgba(146, 146, 146, 0.23);
}

#modal-status {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /* justify-content: center; */
}

#action {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

button[confirm-cancel] {
    background-color: #ff7f55;
    color: #ffffff;
}

button[confirm-cancel]:hover {
    background-color: #f86433;
}

button[confirm-action] {
    background-color: #0095ff;
    color: #ffffff;
}

button[confirm-action]:hover {
    background-color: #3cff69;
}

button[right-button] {
    margin-left: 10px;
}

#control-panel {
    height: 25px;
    width: 550px;
    margin-bottom: 10px;
    /* padding: 5px 130px 300px 130px; */
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    padding: 10px 100px 45px 100px;
}


/* Basic colors */

.off-black {
    background: #363636;
}

.basic-grey {
    background: #ededed;
}

.black {}

.white {
    background: #ffffff;
}


/* Button colors */

.select {
    background: #dfa2df;
}

.brush {
    background: #e4a591;
}

.erase {
    background: #a9afe3;
}

.undo {
    background: #d1de84;
}

.redo {
    background: #91db9d;
}

.region {
    background: #88b7fd;
}

.trash {
    background: #ff6060;
}

.save {
    background: #50db98;
}

.palette {
    background: #e7c7e7;
}


/* Swatch colors */

.red {
    background: #ff6c6c;
}

.yellow {
    background: #ffdf6c;
}

.green {
    background: #6cff8d;
}

.blue {
    background: #6c9eff;
}

.pink {
    background: #ea6cff;
}

.purple {
    background: #a091ff;
}

#initialise-handler i {
    color: #a091ff;
}


/* #clip-wrap {
    filter: drop-shadow(0 5px 10px rgba(129, 129, 129, 0.19)) drop-shadow(0 3px 3px rgba(146, 146, 146, 0.23));
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#drawregion-container {
    /* height: 100%; */
    width: 30px;
    height: 30px;
}

#button-panel {
    display: flex;
    border-radius: 0 4em 4em 0;
    z-index: 4;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    background: #ffffff;
    box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.12);
}

.button-container {
    display: flex;
    flex-direction: column;
}

.icon-outer-circle {
    margin: 0.5em 0;
    transition: transform 0.2s;
    padding: 0.5em;
}


/* 
.icon-outer-circle:hover {
    transform: scale(1.2);
} */

#divider {
    border: 2px solid rgba(92, 92, 92, 0.21);
    width: 50%;
    flex: none;
    flex-grow: 0;
    margin: 0.5em 0;
}

.center {
    display: flex;
    justify-content: center;
}

#button-panel .fa-solid {
    color: white;
    border-radius: 50%;
    padding: 0.6em;
    font-size: 1.5em;
    transition: 0.5s;
}

#contain-dot {
    align-items: center;
    z-index: 8;
    width: 100%;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

#time-slider {
    margin-left: 2em;
    margin-right: 0;
}

#palette {
    margin: 2em;
}

#contain-dot .fa-solid {
    color: white;
    border-radius: 50%;
    padding: 0.6em;
    font-size: 1.5em;
    transition: 0.5s;
}

#button-panel #settings i {
    color: #363636;
}

.icon-outer-circle {
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.12);
}


/* #button-panel .fa-solid:hover {
    background-color: #59cdff;
    color: white;
} */

#button-panel .fa-solid .active {
    background-color: #12b700;
}


/* #button-panel #delete {
    background-color: #ff7f55;
}

#button-panel #delete:hover {
    background-color: #f86433;
} */


/* 
#color-picker {
    display: table;
    padding: 1em;
    border: 1px solid silver;
} */


/* #ui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(243, 243, 243, 0.5);
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#clear {
    margin: 0;
    width: 80px;
    height: 30px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 20px;
    pointer-events: auto;
} */


/* #time-slider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

#rolling-loss {
    position: absolute;
    left: 8px;
    z-index: 10;
    bottom: 8px;
    color: #707070;
}

#describe-card {
    display: flex;
    background: linear-gradient( 144.19deg, #a091ff 20.96%, #a091ff 20.96%, rgba(133, 58, 255, 0.33) 89.93%);
    border-radius: 3em;
    flex-direction: column;
    padding: 3em;
    margin-top: 2.5em;
    box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.12);
}

#describe-top {
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
    color: white;
    align-items: center;
    margin: 1em 0;
}

#describe-top h1 {
    font-size: 1.2em;
    font-weight: 500;
}

#describe-actions {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}

#describe-actions div {
    margin: 0 0.1em;
    box-shadow: none;
}

#describe-actions i {
    padding: 0.2em;
    font-size: 1.2;
    color: #363636;
    /* color: #7b66ff; */
}

#control-actions {
    margin: 0;
    padding: 0;
    display: flex;
}

#control-actions button {
    margin-left: 10px;
}

#prompt-input {
    border-radius: 3em;
    display: flex;
    padding: 1em 2em;
    align-items: center;
    background: white;
    color: #7b66ff;
}

#prompt-input i {
    margin-right: 1em;
}

#prompt-input input {
    font-size: 1em;
    border: none;
    color: #7b66ff;
    width: 100%;
}

#artefact-controls {
    position: absolute;
    left: 50%;
}

#moodboard-header {
    display: flex;
    justify-content: space-between;
    margin: 2em 0em 0em 0em;
}

#open-moodboard {
    background: black;
    color: white;
    font-weight: bold;
    padding: 0em 2em;
    border-radius: 3em;
}


/* 
.grid-verticle {
    height: 100%;
} */

#exemplar-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5em;
    /* justify-content: space-between; */
    justify-content: space-around;
    height: 100%;
}

#exemplar-grid div {
    display: flex;
    justify-content: space-around;
}

.exemplar-card {
    background: #ffffff;
    border-radius: 1em;
    filter: drop-shadow(10px 9px 27px rgba(48, 48, 48, 0.12));
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 38%;
}

.iteration-count {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.6em 1em 0 0;
    color: #7b7b7b;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info div {
    display: flex;
    flex-direction: column;
}

.card-info h3 {
    color: #7b66ff;
}

.card-info p {
    color: #7b7b7b;
}

.card-info i {
    background: #ffffff;
    box-shadow: 2px 3px 9px rgba(48, 48, 48, 0.17);
    border-radius: 0.3em;
    font-size: 2.4em;
    padding: 0.1em;
    color: #7b66ff;
}

#moodboard-header h2 {
    color: black;
    font-weight: 500;
}

#moodboard-heade p {
    color: #5c5c5c;
}

.square {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: red;
}

#pen-styles {
    display: flex;
    padding: 1em;
    flex-direction: column;
}


/* Select Bounding UI */

.swatch:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.select-ui {
    z-index: 9;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
}

.no-transform {
    transform: none;
    transform: translate(0%, -50%);
    margin: 1em 1em 1em 0;
    font-weight: 500;
    color: #a091ff;
}

.select-ui div {
    border-radius: 50%;
    background-color: #ffffff;
}

.select-ui i {
    box-shadow: 2px 3px 9px rgba(48, 48, 48, 0.17);
    border-radius: 50%;
    font-size: 1em;
    padding: 0.1em;
    color: #363636;
}


/* Art Controls / Pallete */

#art-panel {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    display: none;
    background: #f8f8f8;
    box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.12);
    border-radius: 1em;
}

#art-panel h2 {
    color: #363636;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    margin: 1em;
}

#swatches {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #ededed;
    padding: 0.6em 0;
    width: 100%;
}

.swatch {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.4em;
}

.swatch:first-child {
    margin-left: 0.6em;
}

.swatch:last-child {
    margin-right: 0.6em;
}

#fine-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#art-control-final {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#stroke-dot {
    border-radius: 50%;
    background: #ededed;
    /* width: 50px; */
    /* height: 50px; */
    width: 5em;
    height: 5em;
    position: relative;
}

#stroke-dot div {
    position: absolute;
    border-radius: 50%;
    background: #363636;
    height: 1.5em;
    width: 1.5em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#pen-color {
    border-radius: 0.5em;
    width: 74%;
    background-color: #12b700;
}


/* Color Picker */

.layout_default.picker_wrapper {
    padding: 0;
    font-size: 1em;
}

.picker_wrapper {
    box-shadow: none;
}

.picker_slider .picker_selector {
    border-radius: 50px;
}

#art-controls * {
    margin: 5px 0;
}

#control-panel * {
    margin-bottom: 5px;
}

.picker_done button {
    display: none;
}

.picker_sample {
    display: none;
}

.picker_sl {
    box-shadow: none !important;
    /* padding: 10px 0 0 10px; */
}

.layout_default.picker_wrapper>* {
    margin: 0.2em !important;
}

.layout_default.picker_wrapper {
    background: #f8f8f8 !important;
    width: 22em !important;
}


/* Range sliders */

input[type="range"] {
    height: 50px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #fff5f2;
    background: #ededed;
    border-radius: 50px;
    border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 2px 2px 1px #d1d1d1;
    border: 4px solid #ffffff;
    height: 38px;
    width: 38px;
    border-radius: 46px;
    background: #f4c8d1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ededed;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #fff5f2;
    background: #ededed;
    border-radius: 50px;
    border: 0px solid #000000;
}

input[type="range"]::-moz-range-thumb {
    box-shadow: 2px 2px 1px #d1d1d1;
    border: 4px solid #ffffff;
    height: 38px;
    width: 38px;
    border-radius: 46px;
    background: #f4c8d1;
    cursor: pointer;
}


/* Settings modal */

#settings-ui {
    display: none;
}


/* Mobile Stuff */

#mobile-art-controls {
    display: none;
}

#left-background p {
    display: none;
}

@media screen and (max-width: 600px) {
    #button-panel {
        flex-direction: row;
    }
    .button-container {
        flex-direction: row;
    }
    #button-panel {
        display: block;
        width: auto;
        margin-bottom: 3em;
        border-radius: 0;
    }
    #button-panel div {
        justify-content: space-between;
    }
    .icon-outer-circle {
        height: fit-content;
    }
    #button-panel .fa-solid {
        font-size: 0.8em;
    }
    #button-panel .center {
        display: none;
    }
    #left-background {
        flex-direction: column;
        width: fit-content;
    }
    .icon-outer-circle {
        padding: 0.3em;
    }
    #right-background {
        display: none;
    }
    #penmode-inner-circle {
        width: 0.5em;
        height: 0.5em;
    }
    #penmode-outer-circle {
        padding: 0.2em;
    }
    body {
        flex-direction: column;
        width: auto;
    }
    canvas[resize] {
        height: 100vw;
        width: 100vw;
    }
    .layout_default.picker_wrapper {
        background: #f8f8f8 !important;
        width: 100% !important;
    }
    #simple-modal {
        width: fit-content;
    }
    #mobile-art-controls {
        display: flex;
    }
    #art-panel {
        width: 80%;
    }
    #time-slider {
        display: none;
    }
}

#button-panel .fa-solid {
    font-size: 0.8em;
}

.icon-outer-circle {
    padding: 0.3em;
}

@media screen and (min-height: 50em) {
    /* body {
        display: flex;
        flex-direction: column-reverse;
    } */
    #describe-top {
        display: block;
    }
    #describe-card {
        padding: 2em;
    }
    #describe-actions {
        justify-content: flex-start;
    }
    #describe-card {
        padding: 2em;
    }
}


/* @media screen and (min-height: 55em) {
    body {
        display: block;
    }
    #right-background {
        display: block;
            flex-direction: column-reverse;
    }
    #left-background {
        width: auto;
        justify-content: space-between;
    }
} */