@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap");
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

button {
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
}

html,
body {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

#sliding-overlay {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    background-color: #59cdff;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 0%; */
    bottom: 100%;
}

#hero-content {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(67, 67, 67, 0.19), 0 3px 3px rgba(101, 101, 101, 0.23);
}

#hero-content button {
    width: 70px;
}

#modal {
    display: none;
    position: absolute;
    z-index: 11;
    background-color: #00000072;
    width: 100%;
    height: 100%;
}

#simple-modal {
    width: 400px;
    display: flex;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 40%;
    border-radius: 5px;
    flex-direction: column;
    padding: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 5px 10px rgba(129, 129, 129, 0.19), 0 3px 3px rgba(146, 146, 146, 0.23);
}

#modal-status {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /* justify-content: center; */
}

#action {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

button[confirm-cancel] {
    background-color: #ff7f55;
    color: #ffffff;
}

button[confirm-cancel]:hover {
    background-color: #f86433;
}

button[confirm-action] {
    background-color: #0095ff;
    color: #ffffff;
}

button[confirm-action]:hover {
    background-color: #3caeff;
}

button[right-button] {
    margin-left: 10px;
}

#control-panel {
    height: 55px;
    width: 550px;
    padding: 10px 130px 40px 130px;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

#message {
    text-align: center;
}

#clip-wrap {
    filter: drop-shadow(0 5px 10px rgba(129, 129, 129, 0.19)) drop-shadow(0 3px 3px rgba(146, 146, 146, 0.23));
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#art-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.716);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(129, 129, 129, 0.19), 0 3px 3px rgba(146, 146, 146, 0.23);
}

input {
    width: 250px;
}

#art-controls * {
    margin: 5px 0;
}

#select-controls {
    display: none;
}

#control-panel * {
    margin-bottom: 5px;
}

.picker_done button {
    display: none;
}

.picker_sample {
    display: none;
}

#button-panel {
    position: absolute;
    /* left: 0; */
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.881);
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    /* top: 0; */
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 5px 10px rgba(129, 129, 129, 0.19), 0 3px 3px rgba(146, 146, 146, 0.23);
    border-radius: 0.5em;
}

#button-panel i {
    margin: 5px;
}

#send-prompt {
    display: flex;
}

#send-prompt input {
    width: 100%;
}

#button-panel .fa-solid {
    background-color: #efefef;
    border-radius: 0.2em;
    padding: 0.4em;
    font-size: 1.5em;
    transition: 0.5s;
}

#button-panel .fa-solid:hover {
    background-color: #59cdff;
}

#button-panel .fa-solid .active {
    background-color: #12b700;
}

#button-panel #delete {
    background-color: #ff7f55;
}

#button-panel #delete:hover {
    background-color: #f86433;
}

#width-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* 
#color-picker {
    display: table;
    padding: 1em;
    border: 1px solid silver;
} */


/* #ui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(243, 243, 243, 0.5);
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#clear {
    margin: 0;
    width: 80px;
    height: 30px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 20px;
    pointer-events: auto;
} */

canvas[resize] {
    /* height: 100vh;
    width: 100vw; */
    height: 100vh;
    width: 100vh;
}