@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap");
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


/* Main Views */


/* To do remove class */

body {
    overflow: hidden;
}

.project {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, #9846ff 0%, #5236ff 100%);
    transition: background 1s;
}

.control-panel {
    padding: 2em;
    min-width: 230px;
    max-width: 600px;
    width: 417px;
    box-shadow: 0px 5px 20px rgb(28 28 28 / 15%);
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    height: 100vh;
}

.control-panel:first-child {
    margin-bottom: 1em;
}

.control-panel .content-margin {
    height: 83vh;
    overflow: auto;
    padding: 1.5em 0.7em 0 2em;
}

span {
    font-weight: 300;
    color: #363636;
}

button {
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
}

::placeholder {
    color: #7b66ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
    box-shadow: 0 0 0 30px #f5f5f5 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #7b66ff !important;
}

::-webkit-scrollbar-thumb {
    background: #ffffff21;
    border-radius: 1em;
}

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.1);
    width: 20px;
    border-radius: 1em;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    width: 20px;
    border-radius: 1em;
}

.page {
    display: flex;
}

.socket-connect {
    border-radius: 50%;
    position: absolute;
    left: 1em;
    bottom: 1em;
    z-index: 5;
    width: 12px;
    height: 12px;
    background: #f6ab2a;
    box-shadow: inset 1px 2px 4px rgb(0 0 0 / 15%);
    z-index: 501;
}

#penmode-inner-circle {
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
}

#penmode-outer-circle {
    padding: 0.3em;
    border-radius: 50%;
    background-color: #ffffff;
}

.styles-mini {
    background: #ffffff;
    box-shadow: inset 7px 17px 24px 10px rgb(234 217 255 / 98%);
}

#contain-pen-dot {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    margin: 0.1em;
}

.canvas-frame {
    width: 100%;
    display: flex;
    /* align-items: center; */
    align-items: flex-end;
    justify-content: center;
    padding-left: 0;
    /* background: white; */
    /* background: #e5e5e5; */
    position: absolute;
}

#canvas {
    background-color: white;
    cursor: url("public/cursor/pen.svg") -1 20, move;
    border-radius: 2em;
}

.status-section {
    /* padding: 2em 2em 1em 2em; */
    background: #f7f6ff;
    border-radius: 2em;
}

.spark-ui {
    position: relative;
    display: flex;
    /* height: 150px; */
    width: 100%;
}

.spark-title {
    padding: 2em 2rem 0 2rem;
}

.sparkline {
    background: #f7f6ff;
    border-radius: 1em;
}

.spark-text {
    margin-bottom: 1em;
    padding: 0 0.5em;
}

.spark-text p {
    font-weight: 500;
    font-size: 0.6em;
    align-items: center;
    color: #8e8e8e;
}

.spark-knob {
    min-width: 12px;
    min-height: 12px;
    background: white;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #7b66ff;
    right: 0;
    transform: translate(48%, -50%);
    top: 50%;
}

.prompt-loss {
    position: absolute;
    /* color: #5a5a5a; */
    color: #a0a0a0;
    font-size: 0.6em;
    bottom: 1.5em;
    right: 2rem;
    font-weight: 500;
}

.prompt-match {
    font-size: 2.4em;
    font-weight: 400;
    color: #7b66ff;
    padding: 0 2rem;
}

.spark-knob .spark-val {
    background: #aeaeae;
    border-radius: 3px;
    color: white;
    bottom: 9px;
    width: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 0.6em;
    font-weight: 500;
    text-align: center;
}

.current-status {
    font-weight: 500;
    /* font-style: italic; */
    font-size: 1em;
}

.canvas-hover-light {
    box-shadow: 10px 9px 27px #8c7aff57;
}

.drop-ready {
    background: #ffffff23;
    transition: 0.5s;
}

.canvas-ui-container {
    position: relative;
    display: flex;
    border-radius: 2em;
    box-shadow: 4px 9px 27px rgb(48 48 48 / 18%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.canvas-ui-container>p {
    position: absolute;
    z-index: 5;
    font-weight: 500;
    /* font-size: 1.2em; */
    font-size: 1.2em;
    color: #ffffff;
    margin-left: 2em;
    transform: translateY(-110%);
    cursor: grab;
    width: 100%;
    /* text-align: center; */
}

.canvas-focus {
    color: #7b66ff;
    cursor: pointer;
}

.canvas-ui-container .canvas-focus {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: 500;
    font-size: 0.8em;
}

#partial-message {
    position: absolute;
    bottom: 0%;
    padding: 0.2em;
    width: 100%;
    text-align: center;
    display: none;
}

.greeeeeen {
    transition: 0.5s;
    color: white !important;
    /* background: linear-gradient(180deg, #a965ff 0%, #ff8935 100%) !important; */
    background: #15d38b !important;
}

#sliding-overlay {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#hero-content {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    border-radius: 1em;
}

#hero-content div {
    width: 100%;
}

#hero-content button {
    width: 70px;
    margin-left: 5px;
}

#user-name {
    width: 100%;
}

#modal {
    display: none;
    position: absolute;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1ba6;
    z-index: 50;
    left: 0;
    top: 0;
    z-index: 21;
}

#modal-title {
    color: #7b66ff;
}

#modal-cross i {
    color: #7b66ff;
    font-size: 2em;
}

#modal-message {
    color: #363636;
    font-weight: 500;
}

#simple-modal {
    display: flex;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 0.5em;
    flex-direction: column;
    padding: 3em;
    -ms-transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%, -50%);
    box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.22);
}

#action {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

button[confirm] {
    margin-left: 1em;
    background-color: #7b66ff;
    color: #ffffff;
}

.off-black {
    background: #363636;
}

.basic-grey {
    background: #ededed;
}

.white {
    background: #ffffff;
}

.red {
    background: #ff6c6c;
}

.yellow {
    background: #ffdf6c;
}

.green {
    background: #6cff8d;
}

.blue {
    background: #6c9eff;
}

.pink {
    background: #ea6cff;
}

.purple {
    background: #a091ff;
}

#button-panel {
    z-index: 4;
    background: #ffffff;
    border-bottom: rgb(231, 231, 231) 1px solid;
    display: flex;
    padding: 0.5em;
    flex-flow: row wrap;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}

.sub-heading {
    color: #7b66ff;
    font-weight: 400;
    margin: 1em 0;
    padding: 0.4em 1em;
    border-radius: 2em;
    background: #f3f1ff;
}

.button-container {
    display: flex;
    flex-direction: column;
}


/* #content {
    display: flex;
    height: inherit;
    width: 100%;
    flex-direction: column;
} */

.fa-solid .fas {
    font-size: 1em;
}

hr {
    border: none;
    height: 3px;
    color: #f5f5f5;
    background-color: #f5f5f5;
    margin-bottom: 1em;
    margin-top: 0.2em;
    margin: auto;
    width: 60%;
}

.center {
    display: flex;
    justify-content: center;
}

.project-actions {
    margin: 0.5em;
    position: absolute;
    z-index: 10;
    color: #7b66ff;
    position: absolute;
    right: 0;
    background: #f7f6ff;
    border-radius: 82px;
    color: #b5b5b5;
    padding: 0.4em 0.6em;
}

.project-actions i {
    padding: 0 0.2em;
    border-radius: 50%;
}

#settings {
    color: #757575;
}

.panel-closed {
    color: #757575;
}

.top-center {
    position: absolute;
    z-index: 10;
    display: none;
    box-shadow: 3px 3px 8px rgb(48 48 48 / 18%);
    top: 100vh;
    transform: translateY(-100%);
    width: 100%;
    flex-direction: column;
    border-radius: 0 0 0.3em 0.3em;
    overflow: hidden;
}

#style-content {
    border-radius: 0 0.3em 0.3em 0;
    display: grid;
    /* margin-top: 0.5em; */
    /* padding: 0.5em;
    background: #f5f5f5; */
}

#points {
    display: flex;
    justify-content: space-around;
}

#points>div {
    margin-left: 0.5em;
}

.pen-mode .fa-check {
    visibility: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.slider-container {
    align-items: center;
}

.slider-container>div {
    width: 80%;
}

.slider-container i {
    font-size: 1.5em;
    margin: 8px 1em 0 0;
    width: 10%;
}

#time-slider {
    margin-right: 0;
    pointer-events: all;
}

.icon-outer-circle {
    box-shadow: 10px 9px 27px rgba(48, 48, 48, 0.12);
    margin: 0.5em 0;
    transition: transform 0.2s;
    padding: 0.3em;
}

#clear {
    margin: 0;
    width: 80px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 20px;
    pointer-events: auto;
}

#rolling-loss {
    position: absolute;
    z-index: 10;
    top: 0.5em;
    color: #707070;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#settings i {
    font-size: 1.2em;
    color: #363636;
    padding: 0.3em;
    border-radius: 50%;
}

#num-squiggles {
    border: none;
    border-radius: 0.5em;
}


/* Clip Actions */

.clip-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 0.3em;
    border-radius: 1.5em;
    background: linear-gradient(rgb(152, 70, 255) 0%, rgb(82, 54, 255) 100%);
    padding: 1em;
    /* box-shadow: inset rgb(24 24 24 / 20%) 3px 2px 10px 7px; */
}

.clip-actions>div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
    /* transition: 0.6s; */
    border-radius: 1em;
    padding: 1em;
    flex: 1;
}

.clip-actions>div i {
    margin-bottom: 0.3em;
    font-size: 1.4em;
    /* transition: 0.6s; */
    padding: 0.8em;
    /* background: rgb(106 82 255 / 8%); */
    border-radius: 50%;
}

.action-inactive {
    background: #f5f5f5;
    color: #d2d2d2;
    cursor: default;
    pointer-events: none;
}

.action-inactive i {
    background: rgb(255 255 255 / 10%);
    color: #d2d2d2;
}

.action-active {
    /* background: #7b66ff; */
    color: white;
    pointer-events: none;
    /* background: linear-gradient(rgb(152 71 253) 0%, rgb(106 82 255) 100%); */
    background: linear-gradient(#15e797 0%, #00c47a 100%);
}

.action-active i {
    background: rgb(255 255 255 / 10%);
    color: white;
}

.action-default {
    background: linear-gradient(#15e797 0%, #00c47a 100%);
    color: white;
}

.action-default i {
    background: rgb(255 255 255 / 10%);
    color: white;
}

.action-default:hover {
    background: linear-gradient(rgb(164, 90, 254) 0%, rgb(106 82 255) 100%);
    color: white;
}

.action-default:hover i {
    background: rgb(255 255 255 / 10%);
    color: white;
}

.action-current {
    background: linear-gradient(rgb(164, 90, 254) 0%, rgb(106 82 255) 100%);
    color: white;
    pointer-events: none;
}

.action-current i {
    background: rgb(255 255 255 / 10%);
    color: white;
}

.action-stop {
    /* background: #ff6060; */
    background: linear-gradient(#fc9393 0%, #ff6060 100%);
    color: white;
}

.action-stop i {
    background: rgb(255 255 255 / 10%);
    color: white;
}

.action-focus {
    background: linear-gradient(#15e797 0%, #00c47a 100%);
    color: #7b66ff;
    background: rgb(245 245 245);
}

.action-focus i {
    background: rgb(106 82 255 / 8%);
    color: #7b66ff;
}


/* End Clip Actions */


/* Start Prompt */

.prompt-input {
    border-radius: 3.5em;
    font-size: 1em;
    align-items: center;
    pointer-events: all;
    flex: 1;
    display: flex;
    padding: 0;
    margin: 0 0 1em 0;
    font-weight: 500;
    pointer-events: all;
    font-size: 0.8em;
    border: none;
    color: white;
    background: #f5f5f5;
    color: #7b66ff;
    width: 100%;
    box-sizing: border-box;
    padding: 1.6em;
}

input:focus {
    outline-color: #7b66ff;
}

.inactive-prompt {
    pointer-events: none;
    background: #e1e1e1;
    opacity: .7;
}


/* End Prompt */

#sketch-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 10px;
}

#sketch-grid div:first-child {
    animation: MoveUpDown 0.8s 0s;
}

#grid-container {
    overflow-y: overlay;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 1em 1.5em;
    transition: 0.5s;
    min-height: 150px;
}

.basic-background {
    background: #ffffff0d;
}

.sketch-card {
    flex-direction: column;
    background: white;
    border-radius: 10px;
    /* width: auto; */
    cursor: pointer;
    overflow: hidden;
    box-shadow: 3px 3px 8px rgb(48 48 48 / 18%);
}

.sketch {
    width: 100%;
    height: 0;
    content: "";
    display: block;
    padding-bottom: 100%;
}

.sketch canvas {
    /* width: 100%; */
    height: auto;
}

.iteration-count {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.6em 1em 0 0;
    color: #7b7b7b;
}

.card-info {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 5px;
    justify-content: space-between;
    padding: 0.6em 1em;
}

.card-info div {
    display: flex;
    align-items: center;
}

.card-info h3 {
    color: #7b66ff;
    font-weight: 500;
    font-size: 0.9em;
}

.card-info p {
    color: #7b7b7b;
}

.card-loading {
    color: #00e900;
    font-size: 1.1em;
    margin-right: 0.2em;
}

.card-icon-background i {
    background: #7b66ff;
    color: white;
    border-radius: 0.2em;
    padding: 0.4em;
    font-size: 1.2em;
}

.card-info .fa-hand {
    background: rgb(255, 96, 96);
}

#pen-styles {
    display: flex;
    flex-direction: column;
}

.pen-dropdown {
    flex-direction: column;
    z-index: 25;
    position: absolute;
    /* margin-top: 0.3em; */
    border-radius: 0.5em;
    background-color: #000000d6;
    margin-left: 1em;
    overflow: hidden;
    top: 52px;
    right: 0;
    margin-right: 1em;
}

.simple-drop {
    display: flex;
    cursor: pointer;
    color: white;
    font-weight: 500;
    padding: 0.8em;
    font-size: 0.7em;
}

.simple-drop>div {
    align-items: center;
    margin-right: 1.5em;
}

#save-sketch {
    width: auto;
    background: #7b66ff;
    color: white;
    text-align: center;
    margin: 0;
    transition: 0.5s;
}

#save-sketch:hover {
    background: #9383ff;
}

.swatch:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.select-ui {
    z-index: 9;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
}

input[type="number"] {
    border-radius: 0.4em;
    border: none;
    background-color: #f5f5f5;
}

#transform-ui {
    align-items: center;
    z-index: 8;
    width: 100%;
    right: 0;
    position: absolute;
    justify-content: space-evenly;
    display: none;
    display: flex;
    top: 1em;
}

.hidden-panel {
display: none!important;
}

.transform-control {
    width: 46%;
    color: #7b66ff;
    font-weight: 400;
    font-size: 0.8em;
}

#set-background {
    margin-top: 0.2em;
    text-align: right;
}

.number-input {
    display: flex;
}

.no-transform {
    transform: none;
    transform: translate(0%, -50%);
    margin: 1em 1em 1em 0;
    font-weight: 500;
    color: #a091ff;
}

.select-ui i {
    border-radius: 50%;
    padding: 0.6em;
    color: #7b66ff;
    box-shadow: 0px 5px 10px rgb(28 28 28 / 10%);
    color: #7b66ff;
}

#fixed-handler {
    /* override tooltip */
    position: absolute;
}

#fixed-handler i {
    box-shadow: 0px 5px 12px rgb(28 28 28 / 15%);
    color: #ffffff;
    padding: 0.5em;
    font-size: 1.5em;
    transition: 0.2s;
}

.default {
    background: white;
    border-radius: 50%;
}

.green {
    background: #1fe791;
}

.green:hover {
    background: #16c55c;
}

.orange {
    background: #e7841f;
}

.orange:hover {
    background: #f0963d;
}

#autonomy-labels {
    display: flex;
    width: 100%;
}

.drawer-button {
    background: whitesmoke;
    border-radius: 50%;
    padding: 0.6em;
    color: #7b66ff;
}

.control-drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: rgba(217, 217, 217, 0.58);
    cursor: col-resize;
    transition-duration: 0.5s;
    /* display: none; */
}

.control-drawer:hover {
    transition-delay: 0.5s;
    background: #a091ff;
}

.control-drawer>div {
    position: absolute;
    width: 7px;
    height: 42px;
    top: 50%;
    background: white;
    border-radius: 37px;
    z-index: 12;
    transform: translateX(-4px);
    cursor: col-resize;
    border: solid 3px #a091ff;
}

.control-panel header div {
    display: flex;
    align-items: center;
}

.control-panel header span {
    font-weight: 500;
    font-size: 1em;
    display: flex;
    align-items: center;
    color: #7b66ff;
    margin: 0 0.5em;
}


.accordion-header {
    padding: 1em;
}

.accordion-item-question {
    font-size: 1.2em;
    font-weight: 400;
}

.accordion-title {
    margin-bottom: 1em;
}

.accordion-item {
    padding: 1em;
    border-radius: 1.5em;
    /* background: linear-gradient(rgb(152, 70, 255) 0%, rgb(82, 54, 255) 100%); */
    /* color: white; */
    background: #f5f5f5;

    color: #1b1b1b;
    /* box-shadow: rgb(48 48 48 / 35%) 3px 6px 20px; */
    border: none;
    margin-bottom: 9em;
}

.accordion-item-header {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    cursor: pointer;
}

.accordion-item-button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    /* background: #ff9f5a; */
    /* background: linear-gradient(rgb(152 71 253) 0%, rgb(106 82 255) 100%); */
    background: #7b66ff;
    color: white;
    cursor: pointer;
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: 0.25s;
}

.accordion-item-body>div:first-child {
    margin-top: 0.5em;
}

.open {
    /* border: 2px solid #7b66ff; */
    background: linear-gradient(rgb(152, 70, 255) 0%, rgb(82, 54, 255) 100%);
}

.open .accordion-item-header {
    color: white;
}

.open .accordion-item-body {
    max-height: 22em;
}

.open .accordion-item-button {
    background: white;
    color: rgb(106 82 255);
}

.open #subtract-icon {
    display: block;
}

.open #add-icon {
    display: none;
}

#subtract-icon {
    display: none;
}


/* .closed {
    border: 2px solid #f5f5f5;
} */


/* .closed:hover {
    background: #ece2ff;
    transition: 0.25s;
} */


/* .closed:hover {
    cursor: pointer;
} */


/* .closed:hover .accordion-item-button {
    background: rgb(152, 70, 255);
    color: white;
} */

.accordion-item-body>div {
    color: white;
    border-radius: 1em;
    padding: 0.2em 1em;
}

.history-block {
    display: none;
}

#sketchbook-panel {
    position: absolute;
    z-index: 11;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    top: 8%;
    border-radius: 2.5em;
    overflow: hidden;
    width: 100%;
}

#sketchbook-panel .panel-title {
    color: white;
}

#sketchbook-content {
    max-height: 80vh;
    background: #14112afa;
    box-shadow: 10px 5px 15px rgb(28 28 28 / 20%);
    overflow: hidden;
    display: flex;
    border-radius: 1em;
}

#explore-sketches {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#explore-sketches>div {
    margin: 0 0.5em;
}

#explore-sketches :first-child {
    margin-left: 0;
}

#explore-sketches :last-child {
    margin-right: 0;
}

.explore-panel {
    z-index: 5;
    /* background: #f3f1ff; */
    background: #f5f5f5;
    border-radius: 1em;
    position: absolute;
    flex-direction: row;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    padding: 0.5em;
    display: none;
    padding: 1em;
}

#static-margin {
    padding: 2em;
    width: 100%;
}

#static-sketches {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.right-container {
    width: 70%;
}

.inactive-sketch {
    background: #e7e7e7 !important;
    outline: 1.5px dashed #a6a6a6;
    pointer-events: none;
    box-shadow: none;
}

.inactive-sketch>div {
    visibility: hidden;
}

#title-block {
    flex-flow: wrap;
}

#redraw {
    display: none;
}

.prompt-call {
    color: rgb(143, 143, 143);
    font-weight: 400;
    font-size: 1.8rem;
    margin: 1em 1em 0.2em 0;
}

.prompt-call span {
    color: #7b66ff;
    font-weight: 500;
}

.panel-title {
    font-weight: 500;
    color: #1b1b1b;
    font-size: 2rem;
    padding: 0.5em 0 0;
}

.panel-subtitle {
    font-weight: 400;
    font-size: 1em;
    /* color: #7b66ff; */
    color: #1b1b1b;
    font-weight: 500;
    /* font-size: 1.2rem; */
    font-size: 1em;
}

.control-subtitle {
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 1em;
    color: #a091ff;
    min-width: 100%;
    width: 0;
}

#tabs {
    display: flex;
    width: 100%;
    border-radius: 2em 2em 0 0;
    overflow: hidden;
}

#tabs>div>h2 {
    padding: 0.8em 2.5em;
    font-size: 0.9em;
}

#tabs i {
    padding: 0.5em;
}

.tab-info {
    display: flex;
    margin-bottom: 1em;
    width: 100%;
}

.tab-info .panel-title {
    font-size: 1.8rem;
}

.tab-info .pill {
    background: none;
    border: 2px solid #7b66ff;
}

.button-animation {
    -webkit-animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.drawing-tool-panel {
    /* background: linear-gradient(173.58deg, #eeeeee 4.75%, #ffffff 88.29%); */
    box-shadow: 10px 11px 37px rgba(48, 48, 48, 0.29);
    /* width: 154px; */
    width: 204px;
    border-radius: 2em;
    margin-right: 1em;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #f5f5f5; */
    background: white;
    overflow: hidden;
}

.drawing-tool-panel>div:first-child {
    margin: 0.5em 1em 1em 1em;
    background: #dfdfdf;
    border-radius: 18px;
    height: 6px;
    width: 65px;
    cursor: grab;
}

.style-window-toggle {
    cursor: pointer;
    border-radius: 50%;
    background: #dfdfdf;
    color: #5f5f60;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    position: absolute;
    left: 12px;
    bottom: 12px;
}

.selected {
    padding-right: 100px;
    filter: drop-shadow(5px 4px 4px rgba(48, 48, 48, 0.22));
    transition: 0.25s;
}

#loading {
    font-size: 3em;
    color: #cccccc;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    justify-content: center;
    padding: 0.2em;
    pointer-events: none;
}

.tab-item {
    border-bottom: 2px solid #d8d8d8;
    width: 100%;
    text-align: center;
    color: #000000d6;
    background: white;
}

.active-tab {
    border-bottom: 2px solid #7b66ff;
    background: #f3f1ff;
    color: #7b66ff;
}

.active-tab h2 {
    color: #7b66ff;
}

.active-tab i {
    color: #7b66ff;
}

.loading-canvas {
    opacity: 0.3;
    pointer-events: none;
    transition: 0.5s;
}

#basic-styles {
    display: inherit;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: dense;
    padding: 0.5em;
}


/* #stroke-style {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    margin-top: 0.4em;
    gap: 22px;
} */

#stroke-style {
    display: flex;
    /* width: 100%; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-auto-flow: dense; */
    /* margin-top: 0.4em; */
    /* gap: 22px; */
    padding: 0.5em;
}


/* #stroke-style>div {
    margin: 0 7px;
} */

#expanded-styles {
    display: grid;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    flex-flow: row wrap;
    padding: 1em 1em 1em 1em;
}

#style-handle {
    background: #14112afa;
    border-radius: 0.3em 0.3em 0 0em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#style-handle i {
    color: white;
    padding: 0 0.2em;
}

.swatches {
    display: flex;
    width: 100%;
    background: #f5f5f5;
    padding: 0.6em 0;
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

.swatches:first-child {
    width: 1em;
    background: #14112afa;
}

.stroke-circle {
    border-radius: 50%;
    background: #363636;
    margin: auto;
    border: 2px solid #ffffff;
}

.current-dot {
    border: 2px solid #7b66ff !important;
}

.stroke-circle:nth-child(2) {
    width: 0.3em;
    height: 0.3em;
}

.stroke-circle:nth-child(3) {
    width: 0.9em;
    height: 0.9em;
}

.stroke-circle:nth-child(4) {
    width: 1.3em;
    height: 1.3em;
}

#dropper {
    margin: auto;
    padding: 0.2em;
    border-radius: 4px;
}

.swatch {
    width: 1.4em;
    height: 1.4em;
    border-radius: 0.4em;
    border: 3px dashed black;
    margin: auto;
}

.stroke-control {
    color: #7b66ff;
    border-radius: 1em;
    margin: 0 0.2em;
}


/* .stroke-control input {
    border: 2px solid #7b66ff;
} */

#fine-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#fine-control p {
    font-weight: 500;
    color: #5c5c5c;
    font-size: 1.2em;
}

#art-sliders {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
}

#explorer-buttons {
    display: block;
    padding-left: 1em;
}

#explorer-buttons .panel-subtitle {
    margin: 0.5em 0;
}

#explorer-buttons .pill {
    width: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    cursor: pointer;
}

#empty {
    background: none;
}

#close-explorer {
    background: rgb(255, 96, 96);
    color: white;
}

.pill {
    color: #7b66ff;
    background: #f3f1ff;
    font-weight: 400;
    margin: 0.4em 0;
    padding: 0.4em 1em;
    border-radius: 2em;
    width: fit-content;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    text-align: center;
}

.slider-label {
    font-weight: 500;
    border-radius: 2em;
    width: fit-content;
    font-size: 0.8em;
    margin-bottom: 0;
    padding-bottom: 0;
}

#add-refine {
    display: none;
}

.fa-spinner {
    color: #6a52ff;
    font-size: 1.4em;
}

.panel-section {
    margin: 1em 0;
}

.spark-info {
    padding: 0 2em;
    font-weight: 500;
    font-size: 1em;
    color: #a091ff;
}


/* .inactive-section {
    opacity: 0.5;
    pointer-events: none;
} */

#art-control-final {
    display: flex;
    justify-content: center;
}

#auto-checkbox {
    margin-left: 0.5em;
    background-color: #7b66ff;
}

#autodraw-button {
    cursor: pointer;
}

.inactive-pill {
    background: #f5f5f5;
    color: rgb(117, 117, 117);
    box-shadow: inset 2px 4px 10px rgb(0 0 0 / 8%);
}

.tab-info .inactive-pill {
    border: 2px solid rgb(117, 117, 117);
}

.style-window {
    border-radius: 50%;
    background: #ededed;
    width: 130px;
    height: 130px;
    position: relative;
    cursor: crosshair;
    box-shadow: inset 7px 10px 12px 7px rgb(0 0 0 / 10%);
}

.tool-view {
    box-shadow: inset 7px 17px 24px 10px #dadeff;
    overflow: hidden;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    margin: 1em;
}

.tool-view svg {
    transform: rotate(90deg);
    width: 121px;
    height: 172px;
}

.animation-window {
    position: absolute;
    /* top: 100px; */
    transition: ease 0.5s;
}

.window-tool {
    display: none;
}

.current-tool {
    display: flex;
}

#stroke-dot div {
    position: absolute;
    border-radius: 50%;
    background: #363636;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: inset 2px 4px 10px rgb(0 0 0 / 20%);
}

#art-sliders {
    margin-top: 0.5em;
}

#picker-ui {
    position: absolute;
    z-index: 10;
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 6px 6px 6px rgb(48 48 48 / 8%);
}

.picker_hue {
    box-shadow: none !important;
}

.layout_default .picker_hue {
    border-radius: 1em !important;
}

.layout_default.picker_wrapper {
    padding: 0;
    font-size: 1em;
    width: 24em !important;
}

.layout_default.picker_slider {
    border-radius: 2em;
}

.picker_wrapper {
    box-shadow: none !important;
}

.picker_done button {
    display: none;
}

.picker_sample {
    display: none;
}

.layout_default.picker_wrapper>* {
    margin: 2px !important;
}

.picker_selector {
    border-radius: 50% !important;
}

.picker_slider .picker_selector {
    border-radius: 1em;
}

.layout_default .picker_slider,
.layout_default .picker_selector {
    padding: 0.5em;
}

.layout_default.picker_wrapper {
    background: transparent !important;
    width: 100%;
}

.layout_default .picker_sl {
    /* min-width: 110px !important; */
    margin-top: 0.2em !important;
}

.picker_sl {
    border-radius: 0.5em;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #fff5f2;
    /* background: #ededed; */
    border-radius: 50px;
    border: 0px solid #000000;
    box-shadow: inset 2px 4px 10px rgb(0 0 0 / 30%);
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px rgb(93 67 255);
    border: 4px solid #ffffff;
    height: 33px;
    width: 33px;
    border-radius: 41px;
    margin-top: -3px;
    background: #7b66ff;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ededed;
}

#settings-ui {
    display: none;
}

#settings-ui {
    width: 100%;
    flex-direction: column;
}

#settings-ui * {
    margin-top: 0.6em;
}

#button-panel p {
    display: none;
}

.hide-swatch {
    display: none;
}

#pen-controls {
    border-radius: 0 0 1.5em 0;
}

.frame-parent {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: white;
    /* overflow: hidden; */
    transform: translateX(-0.5px);
}

.frame-parent input:focus {
    outline: none;
}

.frame-parent i {
    border-radius: 3px 3px 0 0;
    color: white;
    font-size: 0.8em;
    z-index: 5;
    padding: 0.6em 0.7em 0.5em 0.7em;
    margin-left: 0.2em;
}

.fa-hand-back-fist {
    cursor: grab;
}

.frame-parent input {
    border-radius: 3px 3px 0 0;
    border: none;
    font-weight: 400;
    z-index: 5;
    width: inherit;
    min-width: 5px;
    padding-left: 0.7em;
}

.frame-label-active {
    color: white;
    font-size: 0.8em;
}

.frame-label-inactive {
    color: rgba(160, 160, 160, 1);
    font-size: 0.6em;
    background: transparent !important;
    margin: 0 0 -35px -5px;
    pointer-events: none;
}

.frame-parent div {
    background: white;
    border: 1px solid #7000ff;
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: se-resize;
    margin: -11.5px 0 0 -11px;
    z-index: 1;
}

.local-prompts {
    flex-direction: column;
    position: absolute;
    width: 250px;
    top: 54px;
    left: calc(100vw - 300px);
    z-index: 12;
    background: #14112afa;
    box-shadow: 10px 5px 15px rgb(28 28 28 / 20%);
    overflow: hidden;
    border-radius: 0.6em;
    padding: 1em 0.8em 0.8em 0.8em;
    color: white;
}

.local-prompts button {
    border-radius: 188px;
    padding: 10px;
    background: #2c2942;
    color: white;
    margin-top: 5px;
}

.local-prompts button:hover {
    background: #383550;
}

.local-prompts .reset-frames {
    font-size: 0.8em;
    padding: 0.5em 0.5em 0 0;
    display: none;
    width: 100%;
    justify-content: flex-end;
}

.local-prompts h3 {
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 1em;
}

#prompt-info {
    background: rgb(65, 61, 96);
    padding: 1em;
    font-size: 0.9em;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

#prompt-info .list-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-circle {
    border-radius: 50%;
    background: #fecb16;
    min-width: 35px;
    min-height: 35px;
    margin: 0.2em 0.6em 0.2em 0.2em;
}

#prompt-info p {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 0.5em;
}

#prompt-info>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.local-prompts ul>div {
    background: rgba(64, 61, 86, 0.47);
    border-radius: 10px 10px 0px 0px;
    padding: 1em;
}

.local-prompts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #2c2942;
    border-radius: 1em;
    overflow: hidden;
}

.local-prompts li {
    border-bottom: 2px solid #4a3f62;
    display: flex;
    align-items: center;
    padding: 0.4em;
    font-size: 0.8em;
    font-weight: 300;
    justify-content: space-between;
    cursor: pointer;
}

.local-prompts li div:first-child {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.local-prompts li i {
    padding: 0.2em 0.8em;
    border-radius: 0.2em;
    font-size: 1.2em;
}

.local-prompts li:last-child {
    border-bottom: none;
}

.tooltip>img {
    margin: 0em 0.5em 0.5em 130px;
    height: 41px;
}

.tool-color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #363636;
    margin: 1em;
    box-shadow: inset 2px 4px 10px rgb(0 0 0 / 20%);
}

.hint {
    height: 25px;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.hint img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #363636;
    box-shadow: inset 2px 4px 10px rgb(0 0 0 / 20%);
}

.hint .hint-text {
    visibility: hidden;
    width: 240px;
    background: #363636;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4em;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    /* left: 50%; */
    right: -2px;
}

.hint .hint-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: calc(100% / 2 - 25px);
    border-width: 10px;
    border-style: solid;
    border-color: #363636 transparent transparent transparent;
}

.hint:hover .hint-text {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background: #363636;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.2em 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}